extends layout

div(class="challengecontainer")
  div(class="spalte1")
    img(src="images/bewegung.jpg" class="img-polaroid")
	br
    img(src="images/sport.jpg" class="img-polaroid")
	br
    img(src="images/schlaf.jpg" class="img-polaroid")

  div(class="spalte2")
    img(src="images/stress.jpg" class="img-polaroid")
	br
    img(src="images/ernaehrung.jpg" class="img-polaroid")

