extends layout

block content
  input(type="hidden", name="user", value=user)
  div(class="navbar navbar-fixed-top navbar-inverse")
    div(class="navbar-inner")
      ul(class="nav")
        li
          a(href="#") 
            i(class="icon-user") 
            if user
              span= user
            else
              span Profil
        li
          a(href="#") 
            i(class="icon-check") 
            span Team
        li(class="active")
          a(href="#") 
            i(class="icon-refresh") 
            span Challenges
        li
          a(href="#") 
            i(class="icon-random") 
            span Einladen

  div(class="challengecontainer")
    div(class="spalte1")
      a(href="#") 
        img(src="/images/bewegung.jpg", class="img-polaroid")
        span Bewegung
        br
      a(href="#") 
        img(src="/images/sport.jpg", class="img-polaroid")
        span Rauchen
        br
      a(href="#") 
        img(src="/images/schlaf.jpg", class="img-polaroid")
        span Schlafen

    div(class="spalte2")
      a(href="#") 
        img(src="/images/stress.jpg", class="img-polaroid")
        span Stress
        br
      a(href="#") 
        img(src="/images/ernaehrung.jpg", class="img-polaroid")
        span Ernährung


    div(id="modal_register", class="modal hide fade", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
      div(class="modal-header") 
        button(aria-hidden="true", data-dismiss="modal", class="close", type="button")×
        h3 Registriere dich jetzt!
        
      form(class="form-register")
        input(type="text", class="input-block-level", placeholder="E-Mail Adresses")
        input(type="password", class="input-block-level", placeholder="Password")
        button(class="btn btn-facebook")
          i(class="icon-home icon-white")
          | | Connect with Facebook
        hr
        button(class="btn btn-large btn-primary", type="submit") Registrieren und Challenges starten
     
  
    

