extends layout

block content

  input(type="hidden", value=user.score, name="score")
  input(type="hidden", value=company.name, name="company")
  input(type="hidden", value=company.score, name="company_score")
  input(type="hidden", value=company.user_count, name="company_user_count")
  
  div(class="itemchart")
    div(id="g1", class="charts")
    hr
    div(id="g2", class="charts")

    button(class="btn") Absolviere Challenges
