extends layout

block content
  h1= title
  p Welcome to #{title}

  script
	var g1;

	window.onload = function(){
	g1 = new JustGage({
	id: "g1", 
	value: 60, 
	min: 0,
	max: 100,
	title: "Dein Score",
	label: "", 
	levelColors: [
	"#ff0000",
	"#ffcc00",
	"#00ff00",
	] 
	});
	};
	
	$(window).resize(function() {
	g1.refresh(70);
	});
  div(id="g1")
