extends layout

block content

  div(id="myCarousel", class="carousel slide")
    div(class="carousel-inner")
      div(class="item active")
        div(class="carousel-caption")
          form(class="form-signin")
            h2(class="form-signin-heading") Wie oft machst Du Sport?
          
            table(class="table")
              tr
                td(width="20")
                  input(type="radio", name="optionsRadios", id="optionsRadios11", value="5")
                td
                  label(for="optionsRadios11") Täglich
              tr
                td
                  input(type="radio", name="optionsRadios", id="optionsRadios12", value="3")
                td
                  label(for="optionsRadios12") Mehrmals pro Woche
              tr
                td
                  input(type="radio", name="optionsRadios", id="optionsRadios13", value="1")
                td
                  label(for="optionsRadios13") Mehrmals pro Monat
              tr
                td
                  input(type="radio", name="optionsRadios", id="optionsRadios14", value="0")
                td
                  label(for="optionsRadios14") Nie

      div(class="item")
        div(class="carousel-caption")
          form(class="form-signin")
            h2(class="form-signin-heading") Rauchst Du?
          
            table(class="table")
              tr
                td(width="20")
                  input(type="radio", name="optionsRadios2", id="optionsRadios21", value="5")
                td
                  label(for="optionsRadios21") Nein
              tr
                td
                  input(type="radio", name="optionsRadios2", id="optionsRadios22", value="3")
                td
                  label(for="optionsRadios22") Gelegentlich
              tr
                td
                  input(type="radio", name="optionsRadios2", id="optionsRadios23", value="1")
                td
                  label(for="optionsRadios23") Häufig

      div(class="item")
        div(class="carousel-caption")
          form(class="form-signin")
            h2(class="form-signin-heading") Wie sieht Deine Ernährung aus?

            table(class="table")
              tr
                td(width="20")
                  input(type="radio", name="optionsRadios3", id="optionsRadios31", value="5")
                td
                  label(for="optionsRadios31") Sehr gesund
              tr
                td
                  input(type="radio", name="optionsRadios3", id="optionsRadios32", value="3")
                td
                  label(for="optionsRadios32") Eher gesund
              tr
                td
                  input(type="radio", name="optionsRadios3", id="optionsRadios33", value="1")
                td
                  label(for="optionsRadios33") Eher ungesund
              tr
                td
                  input(type="radio", name="optionsRadios3", id="optionsRadios34", value="0")
                td
                  label(for="optionsRadios34") Ungesund
    
      div(class="item")
        div(class="carousel-caption")
          form(class="form-signin form-search", action="/answer", method="post")
            h2(class="form-signin-heading") Vergleiche dich mit deinen Arbeitskollegen!
            input(type="text", name="company", placeholder="Wo arbeitest du?", data-provide="typeahead", data-source='["BMW","Audi","VW","Opel","Maserati","Porsche"]')
            input(type="hidden", name="score")
            br 
            input(type="submit", class="btn", value="Jetzt vergleichen") 

      
    ol(class="carousel-indicators")
      li(data-target="#myCarousel", data-slide-to="0", class="active")
      li(data-target="#myCarousel", data-slide-to="1")
      li(data-target="#myCarousel", data-slide-to="2")
      li(data-target="#myCarousel", data-slide-to="3")

