extends layout

block content
  h1= title
  p Welcome to #{title}

  div(id="myCarousel", class="carousel slide")
    div(class="carousel-inner")
      div(class="item active")
        div(class="container")
          div(class="carousel-caption")
            form(class="form-signin")
              h2(class="form-signin-heading") Bewegest Du dich regelmäßig? Mindestens 20 bis 30 Minuten am Stück, z.B. Jogging, Fitness-Studio.
            
              table(class="table")
                tr
                  td(width="20")
                    input(type="radio", name="optionsRadios", id="optionsRadios11", value="5")
                  td
                    label(for="optionsRadios11") Ja, regelmäßig dreimal pro Woche
                tr
                  td
                    input(type="radio", name="optionsRadios", id="optionsRadios12", value="3")
                  td
                    label(for="optionsRadios12") Ja, mindestens einmal pro Woche
                tr
                  td
                    input(type="radio", name="optionsRadios", id="optionsRadios13", value="1")
                  td
                    label(for="optionsRadios13") Ja, mindestens einmal im Monat
                tr
                  td
                    input(type="radio", name="optionsRadios", id="optionsRadios14", value="0")
                  td
                    label(for="optionsRadios14") Seltener als einmal im Monat

      div(class="item")
        div(class="container")
          div(class="carousel-caption")
            form(class="form-signin")
              h2(class="form-signin-heading") Rauchen Sie?
            
              table(class="table")
                tr
                  td(width="20")
                    input(type="radio", name="optionsRadios2", id="optionsRadios21", value="5")
                  td
                    label(for="optionsRadios21") Nein
                tr
                  td
                    input(type="radio", name="optionsRadios2", id="optionsRadios22", value="3")
                  td
                    label(for="optionsRadios22") Ja, gelegentlich in Gesellschaft
                tr
                  td
                    input(type="radio", name="optionsRadios2", id="optionsRadios23", value="1")
                  td
                    label(for="optionsRadios23") Ja, bis 20 Zigaretten täglich
                tr
                  td
                    input(type="radio", name="optionsRadios2", id="optionsRadios24", value="0")
                  td
                    label(for="optionsRadios24") Ich rauche mehr als 20 Zigaretten täglich

      div(class="item")
        div(class="container")
          div(class="carousel-caption")
            form(class="form-signin")
              h2(class="form-signin-heading") Nehmen Sie sich Zeit beim Essen?

              table(class="table")
                tr
                  td(width="20")
                    input(type="radio", name="optionsRadios2", id="optionsRadios21", value="5")
                  td
                    label(for="optionsRadios21") Ja, ich esse in Ruhe und zu festen Zeiten
                tr
                  td
                    input(type="radio", name="optionsRadios2", id="optionsRadios22", value="3")
                  td
                    label(for="optionsRadios22") Ich esse zu unregelmäßigen Zeiten, aber genieße jeden Bissen
                tr
                  td
                    input(type="radio", name="optionsRadios2", id="optionsRadios23", value="1")
                  td
                    label(for="optionsRadios23") Ich esse, wenn's gerade passt und bin ein schneller Esser
                tr
                  td
                    input(type="radio", name="optionsRadios2", id="optionsRadios24", value="0")
                  td
                    label(for="optionsRadios24") Ich lasse oft Mahlzeiten komplett ausfallen und schlage mir abends den Bauch voll
      
      div(class="item")
        div(class="container")
          div(class="carousel-caption")
            form(class="form-signin")
              h2(class="form-signin-heading") Vergleiche dich mit deinen Arbeitskollegen!
      
          ol(class="carousel-indicators")
            li(data-target="#myCarousel", data-slide-to="0", class="active")
            li(data-target="#myCarousel", data-slide-to="1")
            li(data-target="#myCarousel", data-slide-to="2")
            li(data-target="#myCarousel", data-slide-to="3")

