doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")

    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="ico/apple-touch-icon-57-precomposed.png")
    link(rel="shortcut icon", href="ico/favicon.png")
    link(href="http://fonts.googleapis.com/css?family=Chelsea+Market", rel="stylesheet", type="text/css")

  body
    div(class="container")
      block content

      footer
        p(class="pull-right")
          a(href="#") Back to top
        p &copy; 2013 Company, Inc. &middot; 
          a(href="#") Privacy
          | &middot;
          a(href="#") Terms

    script(src="/vendor/bootstrap/js/jquery.min.js")
    script(src="/vendor/bootstrap/js/bootstrap-transition.js")
    script(src="/vendor/bootstrap/js/bootstrap-modal.js")
    script(src="/vendor/bootstrap/js/bootstrap-carousel.js")
    script(src="/vendor/bootstrap/js/bootstrap-typeahead.js")
    script(src="/vendor/bootstrap/js/bootstrap-dropdown.js")
    script(src="/vendor/javascripts/raphael.2.1.0.min.js")
    script(src="/vendor/javascripts/justgage.1.0.1.min.js")
    script(src="/vendor/javascripts/mousetrap.min.js")
    script(src="/javascripts/app.js")

