extends layout

block content
  div(class="navbar navbar-fixed-top navbar-inverse")
    div(class="navbar-inner")
      ul(class="nav")
        li
          a(href="#") 
            i(class="icon-user") 
            span Profil
        li
          a(href="#") 
            i(class="icon-check") 
            span Team
        li(class="active")
          a(href="#") 
            i(class="icon-refresh") 
            span Challenges
        li
          a(href="#") 
            i(class="icon-random") 
            span Einladen

  div(class="movecontainer")
    div(class="movespalte1")
      a(href="#") 
        img(src="/images/treppe.jpg", class="img-circle")
      br
      br
      img(src="/images/schwimmen.jpg", class="img-circle unclickable")

   
    div(class="movespalte2")
      a(href="#") 
        img(src="/images/situp.jpg", class="img-circle")
      br
      br
      img(src="/images/marathon.jpg", class="img-circle unclickable")

    div(class="movespalte3")
      a(href="#") 
        img(src="/images/radfahren.jpg", class="img-circle")
      br
      br
      img(src="/images/hakeln.jpg", class="img-circle unclickable")


      
  
    

