extends layout

div(class="navbar navbar-fixed-bottom navbar-inverse")
  div(class="navbar-inner")
    a(class="brand" href="#") Title
    ul(class="nav")
      li(class="active")
      	a(href="#") Profil
      li
      	a(href="#") 
      		i(class="icon-user") Team
      li
      	a(href="#") 
      		i(class="icon-check") Leaderboard
      li
      	a(href="#") 
      		i(class="icon-refresh") Challenges